doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
        title= titletxt
        // Bootstrap core CSS
        link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='#{pathToSelectedTemplateWithinBootstrap}/navbar-fixed-top.css', rel='stylesheet')
        // Just for debugging purposes. Don't actually copy these 2 lines!
        //if lt IE 9
        script(src='#{pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js')
        script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        
        script(src='bower_components/jquery.cookie/jquery.cookie.js')
        //ajaxで作ったjsファイルの読みこみ
        script(src='javascripts/layout.js', type="text/javascript", language="JavaScript")
        script(src='./motorDrive.js')
        
        //スライダー読み込み
        link(href='/bootstrap-slider/css/bootstrap-slider.css', rel='stylesheet')
        script(src='/bootstrap-slider/bootstrap-slider.js', type="text/javascript", language="JavaScript")

    body(onload="init()").container
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="#") raspberrypi戦車
                    button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                        span.sr-only Toggle navigation 
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                //ナビゲーションタブ
                div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#drive",data-toggle="tab") Home
                                span.sr-only (current)
                        li
                            a( href="#basic", data-toggle="tab") キャタピラ操作
                        li
                            a(href="#setting",data-toggle="tab") モーター直接操作
                        li
                            a( href="#manual" data-toggle="tab") 設定
                        //ドロップダウンメニュー
                        li.dropdown
                            a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false") Dropdown
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a( href="#") Action
                                li
                                    a( href="#") Another action
                                li
                                    a( href="#") Something else here
                                li.divider
                                li
                                    a( href="#") Separated link
                                li.divider
                                li
                                    a( href="#") One more separated lin.
                    form.navbar-form.navbar-left( role="search")
                        div.form-group
                            input.form-control( type="text", placeholder="Search")
                            button.btn.btn-default( type="submit") Submit
                    ul.nav.navbar-nav.navbar-right
                        li
                            a( href="#") Link
        - var toggle=active
        //ナビゲーションタブの選択により表示されるデータ
        div.tab-content( style="margin-top: 10px")
            div#drive.tab-pane.active
                div.form-group
                    form(id="form1" method="post", action="/" onsubmit="return false;")
                        input(type="text" id="input1" name="input1" value=messagetxt)
                        button.btn.btn-primary( type="button" id="btn" value="ajaxtest" onclick="doAction();") Ajaxテストぉ
                        //button.btn.btn-primary(type="submit",name="testButton",value="primary", href="#") Primary
                p 何かが返ってきた
                p(id="messagetxt")
                p.
                    ホームの文章です。<br>Raw denim you probably haven't heard of them jean
                    shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                    sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                    placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                    apparel, butcher voluptate nisi qui.
            div#basic.tab-pane
                p 操縦用の10文字ボタン配置
                    div.container
                        div.row
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive",id="driveULbtn",value="TopLeft",onclick="doActionButton(arguments[0],'driveULbtn');") 上左
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive",id="driveUCbtn",value="TopCenter",onclick="doActionButton(arguments[0],'driveUCbtn');") 上中
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive",id="driveURbtn",value="TopRight",onclick="doActionButton(arguments[0],'driveURbtn');") 上右
                        div.row
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveCLbtn",value="CenterLeft" ,onclick="doActionButton(arguments[0],'driveCLbtn');") 中左
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveCbtn",value="Center" ,onclick="doActionButton(arguments[0],'driveCbtn');") 中＿
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveCRbtn",value="CenterRight" ,onclick="doActionButton(arguments[0],'driveCRbtn');") 中右

                        div.row
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveDLtn",value="DownLeft" ,onclick="doActionButton(arguments[0],'driveDLtn');") 下左
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveDCtn",value="DownCenter" ,onclick="doActionButton(arguments[0],'driveDCtn');") 下中
                            div.col-xs-4
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveDRtn",value="DownRight" ,onclick="doActionButton(arguments[0],'driveDRtn');") 下右
                        div.row
                            div.col-xs-3
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveCheck",value="DriveCheck" ,onclick="doActionGetMotor0StatusButton(arguments[0],'driveCheck');") ステータス更新:Motor0
                            div.col-sm-3
                                p(id="motor0Status",style="display:inline;") 
                            div.col-xs-3
                                button.btn.btn-primary( type="button",class="buttonsDrive", id="driveCheck",value="DriveCheck" ,onclick="doActionGetMotor1StatusButton(arguments[0],'driveCheck');") ステータス更新:Motor1
                            div.col-sm-3
                                p(id="motor1Status",style="display:inline;")
                        div.row
                            div.col-sm-4
                                p モーター電圧調整
                            div.col-sm-4
                                input( id="volume", type="text", data-slider-id="volumeSlider" ,data-slider-min="0" ,data-slider-max="100" ,data-slider-step="10" ,data-slider-value="0" ,data-slider-tooltip="hide")
                            div.col-sm-4
                                p(id="voltagetxt",style="display:inline;")
                                b V
            div#setting.tab-pane
                p モータパラメータ直接実行
                        div.row
                            div.col-sm-2 モーター1
                            div.col-sm-5
                                div.btn-group(data-toggle="buttons")
                                    label.btn.btn-primary.active
                                        input( type="radio",autocomplete="off",id="drive1Pos",name="radio1",value="1Pos",checked)
                                        | 正転
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Neg",name="radio1",value="1Neg")
                                        | 逆転
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Break",name="radio1",value="1Break")
                                        | 停止
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Stanby",name="radio1",value="1Stanby")
                                        | 惰走
                            div.col-sm-3
                                input(type="text" id="inputValueMotor1" value="1")
                            div.col-sm-2
                                button.btn.btn-primary( type="button" id="buttonsMotor1Input" value="motor1Input" onclick="doActionMotorButton(arguments[0],'inputValueMotor1');") 実行
                        div.row
                            div.col-sm-2 モーター2
                            div.col-sm-5
                                div.btn-group(data-toggle="buttons")
                                    label.btn.btn-primary.active
                                        input( type="radio",autocomplete="off",id="drive1Pos",name="radio2",value="2Pos",checked)
                                        | 正転
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Neg",name="radio2",value="2Neg")
                                        | 逆転
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Break",name="radio2",value="2Break")
                                        | 停止
                                    label.btn.btn-primary
                                        input( type="radio",autocomplete="off" ,id="drive1Stanby",name="radio2",value="2Stanby")
                                        | 惰走
                            div.col-sm-3
                                input(type="text" id="inputValueMotor2" value="1")
                            div.col-sm-2
                                button.btn.btn-primary( type="button" id="buttonsMotor2Input" value="motor2Input" onclick="doActionMotorButton(arguments[0],'inputValueMotor2');") 実行
                        div.row
                            div.col-sm-2 電圧監視
                            div.col-sm-8
                                input(type="text" id="inputValueMotor2" value="1")
                            div.col-sm-2
                                button.btn.btn-primary( type="button" id="buttonsGetVoltageOutput" value="getVoltageOutput" onclick="doActionGetVoltageButton(arguments[0],'buttonsGetVoltageOutput');") 実行
                        div.row
                            div.col-sm-6
                                p(id="motor1Status",style="display:inline;") 
                            div.col-sm-6
                                p(id="motor2Status",style="display:inline;") 
            div#manual.tab-pane
                p.
                    マニュアル予定ページ。<br> なんかの文章がここに来る？
                form(method="post", action="/")
                    p ユーザID: 
                        input( type="text", name="userid")
                    p パスワード:
                        input( type="password", name="password")
                    p 
                        input( type="submit")

// Bootstrap core JavaScript
// ==================================================
// Placed at the end of the document so the pages load faster
